//colors
//当自定义属性和原本自带的冲突时使用引号包起来
$colors: (
  "primary": #db9e3f,
  "info": #4b67af,
  "blue-1": #1f3695,
  "danger": #791a16,
  "info-1": #4394e4,
  "green-1": #3a4727,
  "white": #fff,
  "light": #f9f9f9,
  "light-2": #ececf0,
  "light-1": #d4d9de,
  "grey": #999,
  "grey-1": #666,
  "dark-1": #343440,
  "dark": #222,
  "black": #000,
);

$border-color: map-get($colors, "light-1");

//font size
$base-font-size: 1rem;
$font-sizes: (
  //8px
    xxs: 0.6154,
  //10px
    xs: 0.7692,
  //12px
    sm: 0.9231,
  //13px
    md: 1,
  //14px
    lg: 1.0769,
  //16px
    xl: 1.2308
);

//justify-content
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
);

//align-items
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);

//margin padding
$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-direction: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);
//sprite
$news: (news, 1.7692rem, 1.5385rem, 63.546% 15.517%);
$stories: (stories, 1.7692rem, 1.5385rem, 90.483% 15.614%);
$shop: (shop, 1.4615rem, 1.6923rem, 36.746% 0.924%);
$experience: (experience, 1.5385rem, 1.5385rem, 10.408% 15.517%);
$couple: (couple, 2.3846rem, 1.9231rem, 9.302% 0.813%);
$glory: (glory, 1.8462rem, 1.5385rem, 36.467% 15.287%);
$fan: (fan, 1.5385rem, 1.6154rem, 89.733% 1.266%);
$camp: (camp, 1.8462rem, 1.8462rem, 63.3% 0.927%);
$public: (public, 1.8462rem, 1.5385rem, 0 96.207%);
$arrow: (arrow, 0.7692rem, 0.7692rem, 38.577% 52.076%);

$icons: (
  $news,
  $stories,
  $shop,
  $experience,
  $couple,
  $glory,
  $fan,
  $camp,
  $public,
  $arrow
);
